
<div class="container2">

    <div>
        <h1 id="h1about">ABOUT</h1>
        <p>
            A programmer is an individual who writes, develops, and maintains computer programs or software applications.
             Programmers use programming languages such as Python, Java, C++, JavaScript, and many others to create software that performs specific tasks or functions. 
            They work with algorithms, data structures, and logic to solve problems and develop solutions.
        </p>
    
    </div>
    <br>
    <div>
        <h1 id="h1tech">TECHNONOLOGY EXPERTISE</h1>
        <ul>
            <li>Angular</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>React</li>
        </ul>>
    </div>

</div>


